.CountryPage {
    margin: 0 auto;
    max-width: 1490px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.country-pg__container {
    color: #fff;
}

.country-pg__back-btn-container {
    margin-top: 2rem;
    margin-bottom: 2.6rem;
}

.country-pg__back-btn {
    text-decoration: none;
    color: #fff;
    background-color: #2b3844;
    border-radius: 5px;
    padding: .7rem 2rem;
}

.country-pg__img {
    width: 100%;
    border-radius: 10px;
}

.country-pg__name {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.country-pg__container-2 {
    font-size: .9rem;
}

.country-pg__inner-col-2 {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
}

.fa-long-arrow-alt-left {
    color: #fff;
    margin-right: .3rem;
}

.country-pg__borders {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.country-pg__border-list-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.country-pg__border-list {
    display: inline-block;
    background-color: #2b3844;
    padding: .4rem 2rem;
    border-radius: 5px;
    margin: .2rem;
}

@media (min-width: 700px) {
    .CountryPage {
        padding: 2rem;
    }
    .country-pg__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 4.5rem;
        margin-top: 3.2rem;
        margin-bottom: 2rem;
    }
    .country-pg__name {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .CountryPage {
        padding: 3rem;
    }
    .country-pg__container-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .country-pg__inner-col-2 {
        margin: 0;
    }
    .country-pg__border-countries-container {
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .country-pg__border-countries-container {
        width: 80%;
    }
    .country-pg__container-2 {
        width: 90%;
    }
}

@media (min-width: 1920px) {
    .country-pg__border-countries-container {
        width: 60%;
    }
    .country-pg__container-2 {
        width: 70%;
    }
}

@media (min-width: 2560px) {
    .country-pg__container-2 {
        width: 70%;
    }
}
